# Environments & Caches
.venv/
venv/
__pycache__/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/

# Build artifacts & Packaging
build/
dist/
*.egg-info/

# macOS / Windows
.DS_Store
Thumbs.db

# Microsoft Office Temp Files
~$*.docx
~$*.xlsx
~$*.pptx

# Logs & Reports
*.log
*.coverage
htmlcov/

# IDE & Editor Config
.vscode/
.idea/
.claude/
CLAUDE.md
